:root {
    --main-font: monospace;
    --heading-font: arial;

}

html {
    background-color: rgb(247, 246, 246);
}

body {
    font-family: 'Courier New', Courier, monospace;
    min-width: 580px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 100;
    font-size: inherit;
}

#page-top h1 {
    font-weight: 100;
}

#page-top {
    margin-left: 5px;
}

#page-top p:nth-of-type(2) {
    letter-spacing: 0.5px;
}

nav ul {
    padding-left: 20px;
}

.about {
    border: 1px;
    border-style: solid;
    padding: 5px;
    background-color: lightgrey;
}

.block {
    margin-left: 30px;
}

.block ol li {
    list-style: decimal-leading-zero;
}

.genre {
    font-weight: 600;
}

aside {
    margin-top: 20px;
    background-color: lightgrey;
}

aside span {
    background: #000;
    color: #fff;
    padding: 5px;
}

a:visited {
    color: rgb(37, 37, 37);
}

a:hover {
    background: #000;
    color: #fff;
}

.view a:hover {
    background: none;
    color: black;
}

.no-link {
    text-decoration: none;
}